$colorBotones: rgb(255 114 78);
$colorEmpresa: #F5C764; 
$tamañoTitulos: 22px;
$tamañoNombreTienda: 20px;
$fuente: verderana;
$tamañoFontNav: 18px;
$tamañoParrafos: 14px;
$tamañoPFooter: 12px;
$colorLetra: #090d10;
$colorNav:  rgb(250 170 0); 
$fuente: verderana;